@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Cone-ee Road<br />
    Phillipsburg, NJ 08865<br />
    <abbr title="Phone">Phone: </abbr>
    (123)456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">JJScoopSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">JJScoopMarketing@example.com</a>
</address>