@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ice Cream Shop</h1>
    <p class="lead">Create/View/Edit/Delete Shops</p>
    <p><a href="https://localhost:44342/Shop/" class="btn btn-primary btn-lg">See Shops &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Flavor</h2>
        <p>Create/View/Edit/Delete Flavors</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Flavor">See Flavors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Topping</h2>
        <p>Create/View/Edit/Delete Toppings</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Topping">See Toppings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer</h2>
        <p>Create/View/Edit/Delete Customers</p>
        <p><a class="btn btn-default" href="https://localhost:44342/Customer">See Customers &raquo;</a></p>
    </div>
</div>