@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ice Cream Shops</h1>
    <p class="lead">Explore Shops</p>
    <p><a href="../Shop" class="btn btn-primary btn-lg">See Shops &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Flavor</h2>
        <p>Modify Flavors</p>
        <p><a class="btn btn-default" href="../Flavor">See Flavors &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Topping</h2>
        <p>Customize Toppings</p>
        <p><a class="btn btn-default" href="../Topping">See Toppings &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Customer</h2>
        <p>Add New Customers</p>
        <p><a class="btn btn-default" href="../Customer">See Customers &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Orders</h2>
        <p>View Order Table Here</p>
        <p><a class="btn btn-default" href="../IceCreamOrder">See Orders &raquo;</a></p>
    </div>
</div>